@model IList<SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductThumbnail>

@if (Model.Any())
{
<h2 class="mt-2">@Localizer["Recently viewed products"]</h2>
<div class="row px-3 product-list">
    @foreach (var product in Model)
        {
            <partial name="../../../../../Catalog/Views/Shared/_ProductThumbnail.cshtml" model="product" />
        }
</div>
}
