// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

//Flor de Zaya font name
@font-face {
    font-family: 'beauty_flowerregular';
    src: url('./beauty-flower-font/beauty_flower-webfont.woff2') format('woff2'),
         url('./beauty-flower-font/beauty_flower-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./opensans/OpenSans-Regular.woff2') format('woff2'),
        url('./opensans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// 2. Include any default variable overrides here
$body-bg: #fdfbff;
$body-color: #111;
$headings-color: #111;
$dark: #a81b44;
$secondary: #f5c8cf;
$nav-link-color: #fff !important;
$navbar-toggler-padding-y: .5rem;
$navbar-toggler-padding-x: .3rem;
$breadcrumb-divider: quote(">");
//$prefix: zf- !default;
$font-family-sans-serif: "Open Sans",Roboto,"Helvetica Neue",system-ui,-apple-system,"Segoe UI",Arial,"Noto Sans","Liberation Sans",sans-serif !default;
//null variables
$btn-font-family: $font-family-sans-serif;
$dropdown-dark-box-shadow: 0 .5rem 1rem rgba(#000, .15) !default;
$breadcrumb-bg: $body-bg !default;
$breadcrumb-border-radius: .375rem !default;
$toast-color: #fff !default;
$zindex-sticky: 1020;

// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/tables";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/transitions";
@import "../bootstrap/scss/dropdown";
@import "../bootstrap/scss/button-group";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/card";
@import "../bootstrap/scss/accordion";
@import "../bootstrap/scss/breadcrumb";
@import "../bootstrap/scss/pagination";
@import "../bootstrap/scss/badge";
@import "../bootstrap/scss/alert";
@import "../bootstrap/scss/progress";
@import "../bootstrap/scss/list-group";
@import "../bootstrap/scss/close";
@import "../bootstrap/scss/toasts";
@import "../bootstrap/scss/modal";
@import "../bootstrap/scss/tooltip";
@import "../bootstrap/scss/popover";
@import "../bootstrap/scss/carousel";
@import "../bootstrap/scss/spinners";
@import "../bootstrap/scss/offcanvas";
@import "../bootstrap/scss/placeholders";

// Helpers
@import "../bootstrap/scss/helpers";

// Utilities
@import "../bootstrap/scss/utilities/api";

// 5. Add additional custom code here
//floating whatsapp button
.a-float {
    position: fixed;
    width: 78px;
    height: 60px;
    bottom: 2rem;
    right: 1rem;
    filter: drop-shadow(4px 3px 3px #999);
    z-index: 100;
}

.img-float {
    margin-top: 16px;
}

//override of dropdown z-index
.dropdown-menu.show {
  display: block;
  z-index: 1050;
}

//home-page search field
.zsb-form {
  margin: 0 auto;
}

.zsb-form input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding-left: 1rem;
  height: 100%;
  font-size: 1rem;
}

.zsb-form select {
  background: transparent;
  border: 0;
  padding-left: 1rem;
  height: 100%;
  font-size: 1rem;
}

.zsb-form select:focus {
  border: 0;
}

.zsb-form button {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.zsb-form button svg {
  width: 24px;
  height: 24px;
}

@media (min-width: 992px){
  .col-lg-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
}

.zsb-card {
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

// footer
.footer-content{
  padding: 3rem 3rem 0 3rem;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity)) !important;
}

.ftr-fnt{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ftr-fnt-left, .ftr-fnt-right{
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  font-size:12px;
  letter-spacing:1px;
  float: left;
  color: #fff;
}

.ftr-fnt-right{
  float: right;
}

.ftr-brk{
  display: none;
}

@media screen and (max-width: 767px) {
  .ftr-brk{
    display: block;
  }

  .ftr-fnt{
    justify-content: center;
  }

  .ftr-fnt-left {
    text-align: center;
    margin-right: 0.25rem;
  }

  .ftr-fnt-right{
    text-align: center;
    margin-left: 0.25rem;
  }
}

@media screen and (max-width: 478px) {
  .ftr-fnt-left {
    padding-bottom: 0px !important;
  }

  .ftr-fnt-right{
    padding-top: 0px !important;
  }
}

// product listing
.fz-block {
    position: relative;
    width: 24%;
    /*background-color: #4a4a4a;*/
    padding: 1px;
    margin-bottom: 90px;
}

@media screen and (max-width: 1399px) {
    .fz-block {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1309px) {
    .fz-block {
        width: 32%;
    }
}

@media screen and (max-width: 1012px) {
    .fz-block {
        width: 49%;
    }
}

@media screen and (max-width: 703px) {
    .fz-block {
        width: 100%;
    }
}

.fz-image {
    width:100%;
    height:300px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.fz-info {
    position: absolute;
    width: 98%;
    top: 280px;
    left: 1%;
    background-color: #fff;
    /*border: 1px solid #4a4a4a;*/
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.fz-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a81b44;
    color: #fff;
    border: 2px solid #a81b44;
    cursor: pointer;
    flex-grow: 1;
    text-decoration: none !important;
    padding: 0.25rem;
}

.fz-order {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a81b44;
    border: 2px solid #a81b44;
    cursor: pointer;
    flex-grow: 1;
    text-decoration: none !important;
    padding: 0.25rem;
}

.fz-old-price {
  font-size: 0.9rem;
  margin-right:4px;
  text-decoration: line-through;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity)) !important;
}

.fz-discount {
  font-size: 0.9rem;
  margin-right:4px;
  text-decoration: none;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity)) !important;
}

.fz-discount::before {
  content: "( ";
}

.fz-discount::after {
  content: " )";
}

//scroll top button
#btn-back-to-top {
  position: fixed;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

//social media buttons
.btn-sc-media {
  text-decoration: none !important;
  color: $dark !important;
  font-size:2.2rem;
}

.btn-sc-media:hover {
  color: #fff !important;
}
