@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductWidgetComponentVm

<h2 class="mt-2">@Model.WidgetName</h2>

<div class="row px-3 product-list">
    @foreach (var product in Model.Products)
    {
        <partial name="../../_ProductThumbnail.cshtml" model="product" />
    }
</div>
