@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.SimpleProductWidgetComponentVm

<h2 class="mt-2">@Model.WidgetName | Simple</h2>

<div class="row justify-content-between px-3 product-list">
    @foreach (var product in Model.Products)
    {
        <partial name="../../_ProductThumbnail.cshtml" model="product" />
    }
</div>
