@model SimplCommerce.Module.PaymentERede.Areas.PaymentERede.ViewModels.ERedeCheckoutForm

<label>
    eRede
</label>

<div class="form-group">
    <div class="col-md-12">
        <button type="button" class="btn btn-order" data-toggle="modal" data-target="#eredeModal">
            @Localizer["Pagamento eRede"]
        </button>
    </div>
</div>

<!-- Trigger the modal with a button -->
<!-- Modal -->
<div id="eredeModal" class="modal fade show" role="dialog" aria-modal="true" style="display: none;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-success alert-dismissible" style="display:none;">
                    <span id="alert-rede">
                    </span>
                    <button data-dismiss="alert" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">
                            x
                        </span>
                    </button>
                </div>
                <style>
                    .cardrede-container {
                        margin: 0px;
                    }

                        .cardrede-wrapper, .cardrede-container > form {
                            margin-bottom: 16px
                        }

                        .cardrede-container > form {
                            border-radius: 4px;
                            border: 1px solid #b5b5b5;
                            min-height: 140px;
                            opacity: 1;
                            position: relative;
                            -webkit-transition: min-height .6s;
                            transition: min-height .6s;
                            width: 100%;
                            z-index: 2;
                            display: block;
                            height: auto;
                            overflow: visible;
                            visibility: visible;
                        }

                    .cardrede-header {
                        border-bottom: 1px solid #b5b5b5;
                        padding: 12px;
                    }

                    .cardrede-form-group {
                        margin-bottom: 10px;
                        padding: 0px;
                    }

                    .cardrede-form-group-left {
                        padding-right: 2px;
                    }

                    .cardrede-form-group-right {
                        padding-left: 2px;
                    }

                        .cardrede-form-group > label, .cardrede-form-group-left > label, .cardrede-form-group-right > label, .cardrede-form-label-error {
                            display: block;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 1.4;
                            margin: 0 !important;
                            padding: 0;
                            text-align: left;
                        }

                    .cardrede-form-label-error {
                        color: #ca2a2a;
                        display: none;
                        font-size: 14px;
                        margin: 3px 0;
                    }

                    .cardrede-form-input {
                        margin: 4px 0 0;
                        padding: 0;
                    }

                        .cardrede-form-input > input {
                            width: 100%;
                            height: 100%;
                            max-width: unset;
                            outline: 0px transparent !important;
                            border: 1px solid #bfbfbf !important;
                            padding: 8px;
                            border-radius: 5px;
                            font-size: 18px;
                            text-align: center;
                            letter-spacing: 2px;
                            font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace !important;
                        }
                </style>
                <div class="cardrede-container">
                    <div class="cardrede-wrapper d-sm-none d-md-block">
                    </div>
                    <form asp-area="PaymentERede" asp-controller="ERede" asp-action="Checkout" method="POST" id="ccform" class="form-horizontal">
                        <div class="cardrede-header d-flex justify-content-around">
                            <div class="form-check form-check-inline m-0">
                                <img src="~/_content/SimplCommerce.Module.PaymentERede/imgs/logo-erede.png">
                            </div>
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="radioKind" id="radioCredito" value="C">
                                <label class="form-check-label" for="radioCredito">
                                    Crédito
                                </label>
                            </div>
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="radioKind" id="radioDebito" value="D">
                                <label class="form-check-label" for="radioDebito">
                                    Débito
                                </label>
                            </div>
                        </div>
                        <div style="padding: 12px">
                            <div class="cardrede-form-group">
                                <label>
                                    Número do cartão
                                </label>
                                <div class="cardrede-form-input">
                                    <input type="text" class="cc-number" pattern="\d*" autocompletetype="cc-number" placeholder="Número do cartão" name="cardNumber" id="cardNumber">
                                </div>
                                <div class="cardrede-form-label-error">
                                </div>
                            </div>
                            <div class="cardrede-form-group">
                                <label>
                                    Nome como no cartão
                                </label>
                                <div class="cardrede-form-input">
                                    <input type="text" placeholder="Nome como no cartão" name="cardName" id="cardName">
                                </div>
                                <div class="cardrede-form-label-error">
                                </div>
                            </div>
                            <div class="cardrede-form-group d-flex">
                                <div class="cardrede-form-group-left">
                                    <label>
                                        Validade
                                    </label>
                                    <div class="cardrede-form-input">
                                        <input type="text" class="cc-exp" pattern="\d*" x-autocompletetype="cc-exp" placeholder="Validade (MM/AA)" required maxlength="9" name="cardExpiry" id="cardExpiry">
                                    </div>
                                    <div class="cardrede-form-label-error">
                                    </div>
                                </div>
                                <div class="cardrede-form-group-right">
                                    <label>
                                        CVV
                                    </label>
                                    <div class="cardrede-form-input">
                                        <input type="text" class="cc-cvc" pattern="\d*" x-autocompletetype="cc-csc" placeholder="CVV" required autocomplete="off" name="cardCvc" id="cardCvc">
                                    </div>
                                    <div class="cardrede-form-label-error">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <button id="submit-button" class="btn btn-order">
                    @Localizer["Pagar"]
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    @Localizer["Fechar"]
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/card/dist/card.js">
</script>
<script src="~/lib/card/dist/jquery.card.js">
</script>
<script>
    $('#submit-button').click(function(event) {
        if(!event.detail || event.detail == 1){
            //activate on first click only to avoid hiding again on multiple clicks
            $('#ccform').submit();
        }
    });

    $('#ccform').card({
        container: '.cardrede-wrapper', // *required*

        formSelectors: {
            numberInput: '#cardNumber', // optional — default input[name="number"]
            expiryInput: '#cardExpiry', // optional — default input[name="expiry"]
            cvcInput: '#cardCvc', // optional — default input[name="cvc"]
            nameInput: '#cardName' // optional - defaults input[name="name"]
        },
        width: 350, // optional — default 350px
        formatting: true, // optional - default true
        // Strings for translation - optional
         messages: {
             validDate: 'válido\naté', // optional - default 'valid\nthru'
             monthYear: 'mm/aaaa', // optional - default 'month/year'
         },
        // Default placeholders for rendered fields - optional
      placeholders: {
          number: '•••• •••• •••• ••••',
          name: 'Nome Cartão',
          expiry: '••/••',
          cvc: '•••'
      },
      masks: {
          cardNumber: '•' // optional - mask card number
      },
          // if true, will log helpful messages for setting up Card
      debug: false // optional - default false
    });
</script>
